$base-text: #333333;
$orange: #E25327;

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .underlay {
    align-self: baseline;
  }
}

.article-preview {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8em;
  line-height: 1;

  &__underlay {
    position: absolute;
    z-index: 2;
    background: rgba(226, 83, 39, 0.6);
    width: 170px;
    height: 170px;
    clip-path: circle(50%);
    mix-blend-mode: color-dodge;
  }

  section { padding: 3em; }

  p {
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  &__metadata {
    margin: 0;
    padding: 0;
  }

  &__date {
    color: lighten($base-text, 20%);
  }

  &__read-more {
    a {
      float: right;
      color: $orange;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken($orange, 20%);
        font-weight: bold;
      }
    }
  }
}

.article-featured-image {
  z-index: 2;
  position: absolute;
  right: -100px;
  opacity: 50%;

  img {
    height: 400px;
    width: 400px;
    clip-path: circle(50%);
    mix-blend-mode: hard-light;
  }
}

.article-image-credit {
  font-size: 0.8em;
}


.article {
  z-index: 1;
  padding: 3em;
}
