$base-text: #333333;
$orange: #E25327;

// breakpoints
$tablet: 768px;
$phone: 450px;

.underlay {
  position: absolute;
  z-index: 2;
  background: rgba(226, 83, 39, 0.6);
  width: 170px;
  height: 170px;
  clip-path: circle(50%);
  mix-blend-mode: color-dodge;
}

.article {
  z-index: 1;
  padding: 3em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $base-text;
  margin: 0;
  padding: 1em;
  color: #333;
}

main {
  margin: 0 auto;
  width: 55%;
  @media only screen and (max-width: $phone) {
    width: 100%
  }

  @media only screen and (min-width: $phone) and (max-width: $tablet) {
    width: 90%
  }
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

img { max-width: 100%; }

a {
  color: $base-text;

  &:visited {
    color: $base-text;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em 1em 4em 1em;

  h1 {
    font-size: 4em;
    padding: 0;
  }

  ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3px;

    li {
      padding: 0 2.5em;
      display: inline;

      &.active {
        font-weight: 500;
      }
    }
  }

  a { text-decoration: none; }
}

p {
  font-size: 1.3em;
  margin-bottom: 1.5em;
  line-height: 1.6;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .underlay {
    align-self: baseline;
  }
}

.article-preview {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8em;
  line-height: 1;

  section { padding: 3em; }

  p {
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  .article-metadata {
    margin: 0;
    padding: 0;
  }

  .article-date {
    color: lighten($base-text, 20%);
  }

  .read-more {
    a {
      float: right;
      color: $orange;
    }
  }
}
