<% wrap_layout :layout do %>
  <div class="article-container">
    <article class="article">
      <h2><%= current_page.data.title %></h2>
      <%= yield %>
    </article>
    <div class="underlay"></div>
  </div>
<% end %>
