<% wrap_layout :layout do %>
<style>
  p { margin-bottom: 1.5em; }
  a { color: deeppink }
</style>
  <article class="w-3/5 my-20 mx-auto">
    <h1 class="text-5xl mb-5"><%= current_page.data.title %></h1>

    <%= yield %>
  </article>
<% end %>
