<h2>Hi, I'm Raquel</h2>

<p>
I'm a software developer from New Zealand. I currently live in Krakow, Poland.
</p>

<p>
I write about software and my hobbies, including art, learning, writing, and photography.
</p>

<h3>Other places you can find me:</h3>
<ul>
  <li><%= link_to "Twitter", "https://twitter.com/raquelxmoss" %></li>
  <li><%= link_to "GitHub", "https://github.com/raquelxmoss" %></li>
  <li><%= link_to "Unsplash", "https://unsplash.com/@raquelxmoss" %></li>
  <li><%= link_to "Instagram", "https://instagram.com/raquelxmoss" %></li>
</ul>
